[Unit]
Description=VideoDownloader Web Blazor
After=network-online.target
Wants=network-online.target

[Service]
WorkingDirectory=/www/wwwroot/VideoDownloader.Blazor
ExecStart=/usr/bin/dotnet /www/wwwroot/VideoDownloader.Blazor/VideoDownloader.Blazor.dll --urls http://127.0.0.1:4123
Restart=always
RestartSec=5
KillSignal=SIGINT
SyslogIdentifier=videodownloader
User=www-data
Group=www-data
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_NOLOGO=true
Environment=HOME=/var/www
Environment=XDG_CACHE_HOME=/www/wwwroot/VideoDownloader.Blazor/App_Data/cache
Environment=DENO_DIR=/www/wwwroot/VideoDownloader.Blazor/App_Data/cache/deno

[Install]
WantedBy=multi-user.target
