[Unit]
Description=Blazor Video Downloader
After=network-online.target
Wants=network-online.target

[Service]
WorkingDirectory=/www/wwwroot/VideoDownloader.Blazor/
ExecStart=/usr/bin/dotnet /www/wwwroot/VideoDownloader.Blazor/VideoDownloader.Blazor.dll --urls http://127.0.0.1:4123
Restart=always
RestartSec=5
KillSignal=SIGINT
SyslogIdentifier=videodownloader
User=www-data
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_NOLOGO=true

[Install]
WantedBy=multi-user.target
